<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.ActionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ActivateAccountServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.ActivateAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPointToplatformServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.UserPointToplatformServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlatformToUserServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.PlatformToUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryUserPoints</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.QueryUserPoints</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryPointsAtPlatform</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.QueryPointsAtPlatform</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopLoginServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.ShopLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopChangeInfo</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.ShopChangeInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopChangePwdServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.ShopChangePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistShopServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.RegistShopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckShopName</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.CheckShopName</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryShopInfoServlet</servlet-name>
    <servlet-class>com.bit.bonusPointsExchange.controller.QueryShopInfoServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>/actionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivateAccountServlet</servlet-name>
    <url-pattern>/activateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPointToplatformServlet</servlet-name>
    <url-pattern>/UserPointToplatformServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlatformToUserServlet</servlet-name>
    <url-pattern>/PlatformToUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserPoints</servlet-name>
    <url-pattern>/QueryUserPoints</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPointsAtPlatform</servlet-name>
    <url-pattern>/QueryPointsAtPlatform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopLoginServlet</servlet-name>
    <url-pattern>/ShopLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopChangeInfo</servlet-name>
    <url-pattern>/ShopChangeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopChangePwdServlet</servlet-name>
    <url-pattern>/ShopChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistShopServlet</servlet-name>
    <url-pattern>/RegistShopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckShopName</servlet-name>
    <url-pattern>/CheckShopName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryShopInfoServlet</servlet-name>
    <url-pattern>/QueryShopInfoServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
